* {
    margin: 0;
    padding: 0;
}

h1 {
    background-color: black;
    color: white;
    text-align: center;
    height: 15vmin;
    line-height: 15vmin;
    width: 100%;
}

.choice {
    width: 28vmin;
    height: 28vmin;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choice:hover {
    transform: scale(1.1);
    transition: 0.3s;
    cursor: pointer;
    background-color: grey;
}

img {
    width: 27vmin;
    height: 27vmin;
    object-fit: cover;
    border-radius: 50%;
}

.game {
    margin-top: 12vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vmin;
}

.score-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15vmin;
    font-size: 6vmin;
    margin-top: 6vmin;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#user-score,
#comp-score {
    font-size: 6vmin;
}
#para{
    font-size: 4vmin;
    margin-top: 2vmin;
}
.msg-container {
    margin-top: 6vmin;
    display: flex;
    align-items: center;
    justify-content: center;
}

#msg {
    background-color: black;
    color: white;
    font-size: 4vmin;
    display: inline;
    padding: 3vmin;
    border-radius: 3vmin;

}